html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-wrap: break-word

  &.menu-is-open
    @media(max-width: 1199px)
      overflow: hidden

  &.overlay
    .page-content,
    .footer
      &::after
        background-color: rgba($text-color, 0.2)
        display: block

  &.filter-is-open
    overflow: hidden

    .page-top
      @media(max-width: 1199px)
        z-index: 11

.wrapper
  flex: 1 0 auto

.container
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px

  @media(min-width: 1400px)
    padding-left: 50px
    padding-right: 50px

  @media(min-width: 1900px)
    padding-left: 100px
    padding-right: 100px

.page-content
  padding-top: 75px
  padding-bottom: 50px
  position: relative

  &::after
    content: ''
    display: none
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 2

  @media(min-width: 1200px)
    padding-top: 120px

  @media(min-width: 2500px)
    padding-top: 135px

.page-top
  background-color: #fff
  margin-top: -15px
  padding-top: 15px
  position: relative
  z-index: 3

  @media(min-width: 1200px)
    margin-top: -25px
    padding-top: 25px

  @media(min-width: 2500px)
    margin-top: -30px
    padding-top: 30px
