<div id="fast-look" class="fast-look">
  <button class="js-popup-close fast-look__close" type="button" title="Закрыть">
    <svg class="fast-look__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <div class="fast-look__inner">
    <div class="fast-look__images">
      <div class="js-fast-look-slider fast-look__slider" data-progress="fast-look">
        <div>
          <picture>
            <!--<source srcset="images/content/catalog/fast-look/img_3@1x.webp 1x, images/content/catalog/fast-look/img_3@2x.webp 2x" type="image/webp">-->
            <img src="images/content/catalog/fast-look/img_3@1x.jpg" srcset="images/content/catalog/fast-look/img_3@2x.jpg 2x" alt="alt">
          </picture>
        </div>
        <div>
          <picture>
            <!--<source srcset="images/content/catalog/fast-look/img_3@1x.webp 1x, images/content/catalog/fast-look/img_3@2x.webp 2x" type="image/webp">-->
            <img src="images/content/catalog/fast-look/img_3@1x.jpg" srcset="images/content/catalog/fast-look/img_3@2x.jpg 2x" alt="alt">
          </picture>
        </div>
        <div>
          <picture>
            <!--<source srcset="images/content/catalog/fast-look/img_3@1x.webp 1x, images/content/catalog/fast-look/img_3@2x.webp 2x" type="image/webp">-->
            <img src="images/content/catalog/fast-look/img_3@1x.jpg" srcset="images/content/catalog/fast-look/img_3@2x.jpg 2x" alt="alt">
          </picture>
        </div>
      </div>
      <div class="fast-look__slider-nav">
        <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-progress="fast-look"></div>
      </div>
    </div>
    <div class="fast-look__info">
      <p class="fast-look__title"><a href="catalog-detail.html">Полукомбинезон РК2102/3456 Морской</a></p>
      <p class="fast-look__price-block"><span class="fast-look__price">62 000 ₽</span> <span class="fast-look__price fast-look__price--old">75 000 ₽</span></p>
      <div class="fast-look__preview-text">
        <p>Kомбинезон Cool Zone KITE - специализированный комбинезон для сноукайтинга. Эргономичный крой. Рукав реглан, дополнительные складки на спине для большей свободы движений, адаптированный вход в карманы под сидячую трапецию и высокий воротник для защиты от ветра.</p>
        <p><span class="fw_400">Мембрана:</span> 15000 мм/10000 гр/м2/24ч</p>
        <p><span class="fw_400">Утеплитель:</span> 60 гр/м2</p>
      </div>
      <div class="fast-look__bottom">
        <p class="fast-look__prop"><span class="fast-look__prop-title">ЦВЕТ:</span> <span class="fast-look__prop-color">Фиолетовый</span></p>
        <div class="fast-look__colors">
          <label class="fast-look__color" for="color_1_">
            <input id="color_1_" type="radio" name="color_" value="1" checked>
            <span class="fast-look__color-image"><img src="images/content/catalog/colors/img_3.jpg" alt="Фиолетовый"></span>
          </label>
          <label class="fast-look__color" for="color_2_">
            <input id="color_2_" type="radio" name="color_" value="2">
            <span class="fast-look__color-image"><img src="images/content/catalog/colors/img_4.jpg" alt="Оранжевый"></span>
          </label>
          <label class="fast-look__color" for="color_3_">
            <input id="color_3_" type="radio" name="color_" value="3">
            <span class="fast-look__color-image"><img src="images/content/catalog/colors/img_5.jpg" alt="Черно-зелёный"></span>
          </label>
        </div>
        <p class="fast-look__size-title-block">
          <span class="fast-look__size-title">Размеры</span> <a href="catalog-detail.html#size_table">Таблица размеров</a>
        </p>
        <div class="fast-look__sizes">
          <label class="fast-look__size" for="size_xxs">
            <input id="size_xxs" type="radio" name="size" value="xxs" disabled>
            <span class="fast-look__size-text">XXS</span>
          </label>
          <label class="fast-look__size" for="size_xs">
            <input id="size_xs" type="radio" name="size" value="xs" disabled>
            <span class="fast-look__size-text">XS</span>
          </label>
          <label class="fast-look__size" for="size_s">
            <input id="size_s" type="radio" name="size" value="s">
            <span class="fast-look__size-text">S</span>
          </label>
          <label class="fast-look__size" for="size_m">
            <input id="size_m" type="radio" name="size" value="m">
            <span class="fast-look__size-text">M</span>
          </label>
          <label class="fast-look__size" for="size_l">
            <input id="size_l" type="radio" name="size" value="l">
            <span class="fast-look__size-text">L</span>
          </label>
          <label class="fast-look__size" for="size_xl">
            <input id="size_xl" type="radio" name="size" value="xl">
            <span class="fast-look__size-text">XL</span>
          </label>
          <label class="fast-look__size" for="size_xxl">
            <input id="size_xxl" type="radio" name="size" value="xxl">
            <span class="fast-look__size-text">XXL</span>
          </label>
        </div>
        <div class="fast-look__buttons">
          <a class="fast-look__add-cart button button--type_2 button--type_3" href="cart.html">Добавить в корзину</a>
          <button class="fast-look__favorite" type="button" title="Добавить в избранное">
            <svg class="fast-look__favorite-icon" aria-hidden="true">
              <use xlink:href="#favorite_2" />
            </svg>
          </button>
        </div>
        <a class="fast-look__to-detail" href="catalog-detail.html">Подробнее о товаре</a>
      </div>
    </div>
  </div>
</div>
