<div class="filter-block">
  <div class="filter-block__buttons">
    <button class="filter-opener" type="button">
      <svg class="filter-opener__icon" aria-hidden="true">
        <use xlink:href="#filter" />
      </svg>
      <span>Фильтры <span>(4)</span></span>
    </button>
    <button class="filter-reset" type="button">Сбросить все</button>
  </div>
  <div class="filter">
    <div class="filter__top">
      <button class="filter__close" type="button">
        <svg class="filter__close-icon" aria-hidden="true">
          <use xlink:href="#close" />
        </svg>
        <span>Фильтры <span>(8)</span></span>
      </button>
      <button class="filter__reset" type="button">Сбросить все</button>
    </div>
  </div>
</div>
