<footer class="footer">
  <div class="footer__top container">
    <div class="footer__top-inner">
      <div class="footer__logo"><img width="66" height="75" src="images/logo.svg" alt="COOLZONE"></div>
      <div class="footer__section">
        <p class="js-footer-dropdown-toggler footer__section-title">Помощь в покупке</p>
        <ul class="footer__section-dropdown footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Доставка и оплата</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Как подобрать размер</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Возврат</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <p class="js-footer-dropdown-toggler footer__section-title">О нас</p>
        <ul class="footer__section-dropdown footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">История бренда</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Наша команда</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Наши дилеры</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <p class="js-footer-dropdown-toggler footer__section-title">Наш шоурум</p>
        <div class="footer__section-dropdown footer__contacts">
          <p>г. Санкт-Петербург, Васильевский остров, 4‑ая&nbsp;линия,&nbsp;дом&nbsp;21</p>
          <p>+7-960-256-60-62<br> Ежедневно с 11:00 до 21:00</p>
        </div>
      </div>
      <div class="footer__section">
        <p class="footer__section-title">Мы в социальных сетях</p>
        <div class="footer__social-links social-links">
          <a class="social-link" href="#" rel="noopener noreferrer" target="_blank" title="vk.com">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#vk" />
            </svg>
          </a>
          <a class="social-link" href="#" rel="noopener noreferrer" target="_blank" title="facebook.com">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#fb" />
            </svg>
          </a>
          <a class="social-link" href="#" rel="noopener noreferrer" target="_blank" title="instagram.com">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#inst" />
            </svg>
          </a>
          <a class="social-link" href="#" rel="noopener noreferrer" target="_blank" title="pinterest.com">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#pinterest" />
            </svg>
          </a>
        </div>
        <div class="footer__links">
          <p>Телефон: <a href="tel:+79602566062">+7-960-256-60-62</a></p>
          <p>Email: <a href="mailto:coolzoneshop@gmail.com">coolzoneshop@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom container">
    <div class="footer__pay-systems">
      <img width="120" height="35" src="images/icons/footer/paykeeper.svg" alt="PayKeeper">
      <img width="120" height="35" src="images/icons/footer/mastercard.svg" alt="MasterCard">
      <img width="120" height="35" src="images/icons/footer/visa.svg" alt="VISA">
      <img width="120" height="35" src="images/icons/footer/mir.svg" alt="МИР">
    </div>
    <div class="footer__copyright">
      <span>© 2020 COOLZONE.SHOP</span> Все права охраняются законом
    </div>
  </div>
</footer>
