<div class="giant-image">
  <button class="js-giant-image-close giant-image__close" type="button" title="Закрыть">
    <svg class="giant-image__close-icon">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="giant-image__image-block">
    <picture>
      <!--<source srcset="images/content/detail/giant/giant@1x.webp 1x, images/content/detail/giant/giant@2x.webp 2x" type="image/webp">-->
      <img class="giant-image__image" src="images/content/detail/giant/giant@1x.jpg 1x" srcset="images/content/detail/giant/giant@2x.jpg 2x" alt="alt">
    </picture>
    <img src="images/content/detail/giant.jpg" alt="">
  </div>
  <div class="giant-image__slider-block">
    <div class="giant-image__slider-block-inner">
      <div class="giant-image__slider">
        <button class="giant-image__slider-item" type="button">
          <picture>
            <!--<source srcset="images/content/detail/giant/img_1@1x.webp 1x, images/content/detail/giant/img_1@2x.webp 2x" type="image/webp">-->
            <img src="images/content/detail/giant/img_1@1x.jpg 1x" srcset="images/content/detail/giant/img_1@2x.jpg 2x" alt="alt">
          </picture>
        </button>
        <button class="giant-image__slider-item is-active" type="button">
          <picture>
            <!--<source srcset="images/content/detail/giant/img_2@1x.webp 1x, images/content/detail/giant/img_2@2x.webp 2x" type="image/webp">-->
            <img src="images/content/detail/giant/img_2@1x.jpg 1x" srcset="images/content/detail/giant/img_2@2x.jpg 2x" alt="alt">
          </picture>
        </button>
        <button class="giant-image__slider-item" type="button">
          <picture>
            <!--<source srcset="images/content/detail/giant/img_3@1x.webp 1x, images/content/detail/giant/img_3@2x.webp 2x" type="image/webp">-->
            <img src="images/content/detail/giant/img_3@1x.jpg 1x" srcset="images/content/detail/giant/img_3@2x.jpg 2x" alt="alt">
          </picture>
        </button>
      </div>
    </div>
  </div>
</div>
