<header class="header">
  <div class="header__inner container">
    <a class="header__logo" href="main.html">
      <img class="header__logo-image" src="images/logo.svg" alt="COOL ZONE">
    </a>
    <div class="header__lang-block">
      <span class="header__lang is-active">RU</span>
      <span class="header__lang-separator"></span>
      <a class="header__lang" href="#">EN</a>
    </div>
    <button class="js-menu-opener header__menu-opener menu-opener" type="button" title="Меню">
      <svg class="menu-opener__icon" aria-hidden="true">
        <use xlink:href="#burger" />
      </svg>
    </button>
    <div class="header__menu-block">
      <button class="js-menu-closer header__menu-closer menu-closer" type="button">
        <svg class="menu-closer__icon" aria-hidden="true">
          <use xlink:href="#close" />
        </svg>
      </button>
      <div class="header__mobile-duplicate">
        <div class="header__links">
          <a class="header__link" href="#" title="Личный кабинет">
            <svg class="header__link-icon header__link-icon--user" aria-hidden="true">
              <use xlink:href="#user" />
            </svg>
          </a>
          <a class="header__link" href="favorite.html" title="Избранное">
            <svg class="header__link-icon header__link-icon--favorite" aria-hidden="true">
              <use xlink:href="#favorite" />
            </svg>
          </a>
        </div>
        <div class="header__lang-block">
          <span class="header__lang is-active">RU</span>
          <span class="header__lang-separator"></span>
          <a class="header__lang" href="#">EN</a>
        </div>
      </div>
      <nav class="main-menu">
        <ol class="main-menu__list">
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Мужское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Куртки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Брюки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термобелье</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Женское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Куртки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Брюки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термобелье</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Пончо и лайкры</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Детское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Детские комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Подростковые комбинезоны</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">О нас</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Контакты</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">История бренда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Наша команда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Наши дилеры</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Помощь в покупке</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Доставка и оплата</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Как подобрать размер</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Возврат</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
        </ol>
      </nav>
    </div>
    <div class="header__links">
      <div class="header__search search-bar">
        <button class="js-search-toggler search-toggler" type="button" title="Поиск">
          <svg class="search-toggler__icon search-toggler__icon--open" aria-hidden="true">
            <use xlink:href="#search" />
          </svg>
          <svg class="search-toggler__icon search-toggler__icon--close" aria-hidden="true">
            <use xlink:href="#close" />
          </svg>
        </button>
        <form class="search-bar__form" action="search.html" method="post">
          <input class="search-bar__input" type="text" name="q" value="" placeholder="Искать товары" autocomplete="off">
          <button class="search-bar__submit" type="submit">
            <svg class="search-bar__submit-icon" aria-hidden="true">
              <use xlink:href="#search" />
            </svg>
          </button>
        </form>
        <div class="search-bar__dropdown">
          <ol class="search-bar__suggests">
            <li><button class="js-search-option search-bar__suggest" type="button">Комбинезон</button></li>
            <li><button class="js-search-option search-bar__suggest" type="button">Комбинезон утеплённый</button></li>
            <li><button class="js-search-option search-bar__suggest" type="button">Комбинезон горнолыжный</button></li>
            <li><button class="js-search-option search-bar__suggest" type="button">Комбинезон стёганный</button></li>
          </ol>
        </div>
      </div>
      <a class="header__link header__link--no_mobile" href="#" title="Личный кабинет">
        <svg class="header__link-icon header__link-icon--user" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
      <a class="header__link header__link--no_mobile" href="favorite.html" title="Избранное">
        <svg class="header__link-icon header__link-icon--favorite" aria-hidden="true">
          <use xlink:href="#favorite" />
        </svg>
      </a>
      <a class="header__link cart-link" href="cart.html" title="Корзина">
        <svg class="header__link-icon header__link-icon--cart" aria-hidden="true">
          <use xlink:href="#cart" />
        </svg>
        <span class="cart-link__qnt">2</span>
      </a>
    </div>
  </div>
</header>
