<header class="header">
  <div class="header__inner container">
    <a class="header__logo" href="main.html">
      <img class="header__logo-image" src="images/logo.svg" alt="COOL ZONE">
    </a>
    <div class="header__lang-block">
      <span class="header__lang is-active">RU</span>
      <span class="header__lang-separator"></span>
      <a class="header__lang" href="#">EN</a>
    </div>
    <button class="js-menu-toggler header__menu-toggler menu-toggler" type="button" title="Меню">
      <svg class="menu-toggler__icon" aria-hidden="true">
        <use xlink:href="#burger" />
      </svg>
    </button>
    <div class="header__menu-block">

    </div>
    <div class="header__links">
      <div class="header__search">

      </div>
      <a class="header__link header__link--no_mobile" href="#" title="Личный кабинет">
        <svg class="header__link-icon header__link-icon--user" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
      <a class="header__link header__link--no_mobile" href="favorite.html" title="Избранное">
        <svg class="header__link-icon header__link-icon--favorite" aria-hidden="true">
          <use xlink:href="#favorite" />
        </svg>
      </a>
      <a class="header__link cart-link" href="cart.html" title="Корзина">
        <svg class="header__link-icon header__link-icon--cart" aria-hidden="true">
          <use xlink:href="#cart" />
        </svg>
        <span class="cart-link__qnt">2</span> 
      </a>
    </div>
  </div>
</header>
