<header class="header compensate-for-scrollbar">
  <div class="header__inner container">
    <a class="header__logo" href="main.html">
      <img class="header__logo-image" src="images/logo.svg" alt="COOL ZONE">
    </a>
    <div class="header__lang-block">
      <span class="header__lang is-active">RU</span>
      <span class="header__lang-separator"></span>
      <a class="header__lang" href="#">EN</a>
    </div>
    <button class="js-menu-opener header__menu-opener menu-opener" type="button" title="Меню">
      <svg class="menu-opener__icon" aria-hidden="true">
        <use xlink:href="#burger" />
      </svg>
    </button>
    <div class="header__menu-block">
      <button class="js-menu-closer header__menu-closer menu-closer" type="button">
        <svg class="menu-closer__icon" aria-hidden="true">
          <use xlink:href="#close" />
        </svg>
      </button>
      <div class="header__mobile-duplicate">
        <div class="header__links">
          <a class="header__link" href="#" title="Личный кабинет">
            <svg class="header__link-icon header__link-icon--user" aria-hidden="true">
              <use xlink:href="#user" />
            </svg>
          </a>
          <a class="header__link" href="favorite.html" title="Избранное">
            <svg class="header__link-icon header__link-icon--favorite" aria-hidden="true">
              <use xlink:href="#favorite" />
            </svg>
          </a>
        </div>
        <div class="header__lang-block">
          <span class="header__lang is-active">RU</span>
          <span class="header__lang-separator"></span>
          <a class="header__lang" href="#">EN</a>
        </div>
      </div>
      <nav class="header__menu main-menu">
        <ol class="main-menu__list">
          <li class="js-root main-menu__item">
            <a class="main-menu__link is-active" href="#">Мужское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Куртки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Брюки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термобелье</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Женское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Куртки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Брюки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термобелье</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Пончо и лайкры</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Детское</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Одежда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Детские комбинезоны</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Подростковые комбинезоны</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Аксессуары</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Балаклавы</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шапки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Термоноски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Ремни</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Наклейки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Средства по уходу</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Варежки перчатки</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Маски</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link" href="#">Шлема</a></li>
                </ol>
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Sale</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Подарочные сертификаты</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">О нас</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Контакты</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">История бренда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Наша команда</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Наши дилеры</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
          <li class="js-root main-menu__item">
            <a class="main-menu__link" href="#">Помощь в покупке</a>
            <div class="sub-menu">
              <div class="sub-menu__inner">
                <ol class="sub-menu__list">
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Доставка и оплата</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Как подобрать размер</a></li>
                  <li class="sub-menu__item"><a class="sub-menu__link sub-menu__link--title" href="#">Возврат</a></li>
                </ol>
                <div class="sub-menu__image"><img src="images/content/header/img_1.jpg" alt="alt"></div>
              </div>
            </div>
          </li>
        </ol>
      </nav>
    </div>
    <div class="header__links">
      <div class="header__search search-bar">
        <button class="js-search-toggler search-toggler" type="button" title="Поиск">
          <svg class="search-toggler__icon search-toggler__icon--open" aria-hidden="true">
            <use xlink:href="#search" />
          </svg>
          <svg class="search-toggler__icon search-toggler__icon--close" aria-hidden="true">
            <use xlink:href="#close" />
          </svg>
        </button>
        <form class="search-bar__form" action="search.html" method="post">
          <input class="search-bar__input" type="text" name="q" value="" placeholder="Искать товары" autocomplete="off">
          <button class="search-bar__submit" type="submit">
            <svg class="search-bar__submit-icon" aria-hidden="true">
              <use xlink:href="#search" />
            </svg>
          </button>
        </form>
        <div class="search-bar__dropdown">
          <div class="search-bar__dropdown-inner container">
            <p class="search-bar__dropdown-title">Вы недавно искали:</p>
            <div class="search-bar__vars">
              <div class="search-bar__searched">
                <span class="js-search-option search-bar__searched-text">Комбинезоны</span>
                <button class="search-bar__searched-delete" type="button" title="Удалить">
                  <svg class="search-bar__searched-icon" aria-hidden="true">
                    <use xlink:href="#close" />
                  </svg>
                </button>
              </div>
              <div class="search-bar__searched">
                <span class="js-search-option search-bar__searched-text">Серые брюки</span>
                <button class="search-bar__searched-delete" type="button" title="Удалить">
                  <svg class="search-bar__searched-icon" aria-hidden="true">
                    <use xlink:href="#close" />
                  </svg>
                </button>
              </div>
              <div class="search-bar__searched">
                <span class="js-search-option search-bar__searched-text">Укороченная куртка</span>
                <button class="search-bar__searched-delete" type="button" title="Удалить">
                  <svg class="search-bar__searched-icon" aria-hidden="true">
                    <use xlink:href="#close" />
                  </svg>
                </button>
              </div>
            </div>
            <button class="search-bar__delete-vars" type="button">Удалить все</button>
          </div>
        </div>
      </div>
      <a class="header__link header__link--no_mobile" href="#" title="Личный кабинет">
        <svg class="header__link-icon header__link-icon--user" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
      <a class="header__link header__link--no_mobile" href="favorite.html" title="Избранное">
        <svg class="header__link-icon header__link-icon--favorite" aria-hidden="true">
          <use xlink:href="#favorite" />
        </svg>
      </a>
      <a class="js-cart-open header__link cart-link" href="#" title="Корзина">
        <svg class="header__link-icon header__link-icon--cart" aria-hidden="true">
          <use xlink:href="#cart" />
        </svg>
        <span class="cart-link__qnt">2</span>
      </a>
    </div>
    <div class="mini-cart">
      <button class="js-cart-close mini-cart__close" type="button">
        <svg class="mini-cart__close-icon" aria-hidden="true">
          <use xlink:href="#close" />
        </svg>
        <span>Моя корзина <span>(3)</span></span>
      </button>
      <div class="js-custom-scroll mini-cart__list">
        <div class="mcart-item">
          <button class="mcart-item__delete" type="button" title="Удалить">
            <svg class="mcart-item__delete-icon" aria-hidden="true">
              <use xlink:href="#delete" />
            </svg>
          </button>
          <p class="mcart-item__title">
            <a href="#">
              <span class="mcart-item__image"><img src="images/content/header/img_2.jpg" alt="alt"></span>
              Полукомбинезон РК2102/3456 Морской
            </a>
          </p>
          <p class="mcart-item__prop"><span class="mcart-item__prop-title">ЦВЕТ:</span> <span class="mcart-item__prop-color">Оранжевый</span></p>
          <p class="mcart-item__prop">
            <span class="fw_500">РАЗМЕР:</span>
            <button class="mcart-item__prop-size" type="button">S</button>
            <button class="mcart-item__prop-size is-active" type="button">M</button>
            <button class="mcart-item__prop-size" type="button">L</button>
            <button class="mcart-item__prop-size" type="button">XL</button>
          </p>
          <div class="mcart-item__bottom">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="1">
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus" />
                </svg>
              </button>
            </div>
            <p class="mcart-item__price-block"><span class="mcart-item__price">62 000 ₽</span> <span class="mcart-item__price mcart-item__price--old">75 000 ₽</span></p>
          </div>
        </div>
        <div class="mcart-item">
          <button class="mcart-item__delete" type="button" title="Удалить">
            <svg class="mcart-item__delete-icon" aria-hidden="true">
              <use xlink:href="#delete" />
            </svg>
          </button>
          <p class="mcart-item__title">
            <a href="#">
              <span class="mcart-item__image"><img src="images/content/header/img_3.jpg" alt="alt"></span>
              Утеплённый комбинезон
            </a>
          </p>
          <p class="mcart-item__prop"><span class="mcart-item__prop-title">ЦВЕТ:</span> <span class="mcart-item__prop-color">Красный</span></p>
          <p class="mcart-item__prop">
            <span class="fw_500">РАЗМЕР:</span>
            <button class="mcart-item__prop-size is-active" type="button">M</button>
          </p>
          <div class="mcart-item__bottom">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="1">
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus" />
                </svg>
              </button>
            </div>
            <p class="mcart-item__price-block"><span class="mcart-item__price">22 000 ₽</span></p>
          </div>
        </div>
        <div class="mcart-item">
          <button class="mcart-item__delete" type="button" title="Удалить">
            <svg class="mcart-item__delete-icon" aria-hidden="true">
              <use xlink:href="#delete" />
            </svg>
          </button>
          <p class="mcart-item__title">
            <a href="#">
              <span class="mcart-item__image"><img src="images/content/header/img_2.jpg" alt="alt"></span>
              Полукомбинезон РК2102/3456 Морской
            </a>
          </p>
          <p class="mcart-item__prop"><span class="mcart-item__prop-title">ЦВЕТ:</span> <span class="mcart-item__prop-color">Оранжевый</span></p>
          <p class="mcart-item__prop">
            <span class="fw_500">РАЗМЕР:</span>
            <button class="mcart-item__prop-size" type="button">S</button>
            <button class="mcart-item__prop-size is-active" type="button">M</button>
            <button class="mcart-item__prop-size" type="button">L</button>
            <button class="mcart-item__prop-size" type="button">XL</button>
          </p>
          <div class="mcart-item__bottom">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="1">
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus" />
                </svg>
              </button>
            </div>
            <p class="mcart-item__price-block"><span class="mcart-item__price">62 000 ₽</span> <span class="mcart-item__price mcart-item__price--old">75 000 ₽</span></p>
          </div>
        </div>
      </div>
      <div class="mini-cart__summ">
        <p class="mini-cart__total"><span>Итого</span> <span>22 000 ₽</span></p>
        <p class="mini-cart__discount"><span>Скидка</span> <span>-13 000 ₽</span></p>
        <a class="mini-cart__button button button--type_2 button--type_3" href="cart.html">Перейти в корзину</a>
      </div>
    </div>
  </div>
</header>
