.catalog-title
  font-weight: 400
  margin-bottom: 20px
  text-align: center

  @media(min-width: 768px)
    margin-bottom: 15px

.catalog-topbar
  background-color: #fff
  height: 35px
  position: relative
  z-index: 3

  @media(min-width: 1200px)
    height: 50px

  &__float
    background-color: #fff

    &.scrolled
      left: 0
      position: fixed
      top: 60px
      width: 100%
      z-index: 9

  &__inner
    display: flex
    justify-content: space-between

.filter-block
  &__buttons
    align-items: center
    display: flex

.filter-opener
  align-items: center
  background-color: transparent
  border: none
  cursor: pointer
  font-size: 14px
  font-weight: 400
  display: flex
  line-height: 18px
  padding: 8px 0

  @media(min-width: 1200px)
    font-size: 16px
    padding-top: 16px
    padding-bottom: 15px

  & > span
    border-bottom: 1px dotted transparent
    transition: border-color 0.3s

  &:hover
    & > span
      border-bottom-color: $text-color

  &__icon
    fill: $text-color
    height: 13px
    margin-right: 5px
    width: 18px

    @media(min-width: 1200px)
      height: 16px
      margin-right: 10px
      width: 20px

.filter-reset
  background-color: transparent
  border: none
  cursor: pointer
  display: none
  font-size: 14px
  font-weight: 400
  line-height: 18px
  margin-left: 30px
  padding: 8px 0
  text-decoration: underline

  @media(min-width: 1200px)
    display: block
    font-size: 16px
    padding-top: 16px
    padding-bottom: 16px

.filter
  display: none

.catalog-sort
  font-weight: 400
  position: relative
  text-align: right
  user-select: none
  white-space: nowrap

  &.is-open
    .catalog-sort__value
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5L5.60465 1L1 5' stroke='%23282828' stroke-linecap='round'/%3E%3C/svg%3E%0A")

    .catalog-sort__dropdown
      display: block

  &__value
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L5.60465 5L1 1' stroke='%23282828' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    background-position: 100% 50%
    background-repeat: no-repeat
    cursor: pointer
    font-size: 14px
    line-height: 18px
    padding: 7px 15px 10px

    @media(min-width: 1200px)
      background-position: 100% 55%
      font-size: 16px
      padding-top: 16px
      padding-bottom: 16px

  &__dropdown
    background-color: #fff
    box-shadow: 0 10px 20px -5px rgba(#000, 0.15)
    display: none
    left: auto
    position: absolute
    padding: 5px 0
    right: 0
    top: 100%
    width: auto
    z-index: 1

    @media(min-width: 768px)
      padding-top: 10px
      padding-bottom: 15px
      right: -15px

  &__var
    background-color: #fff
    color: $grey-color
    cursor: pointer
    padding: 3px 15px 9px
    transition: background-color 0.3s

    @media(min-width: 768px)
      padding-left: 30px
      padding-right: 30px

    &:hover
      background-color: rgba($grey-color, 0.1)

    &.is-active
      color: $text-color

.catalog-list
  display: flex
  flex-wrap: wrap
  margin-left: -8px
  margin-right: -8px
  padding-top: 10px

  @media(min-width: 768px)
    margin-left: -10px
    margin-right: -10px

  &__item
    padding-left: 8px
    padding-right: 8px
    margin-bottom: 20px
    width: 50%

    @media(min-width: 768px)
      padding-left: 10px
      padding-right: 10px
      width: 25%

    @media(min-width: 1200px)
      margin-bottom: 55px

    @media(min-width: 2500px)
      width: 20%

    &--banner
      display: flex
      overflow: hidden
      width: 100%

    &--banner_3
      @media(min-width: 768px)
        width: 50%

      @media(min-width: 2500px)
        width: 60%

    &--banner_2
      @media(min-width: 768px)
        width: 50%

      @media(min-width: 2500px)
        width: 40%

    &--banner_1
      width: 50%

      @media(min-width: 768px)
        width: 25%

      @media(min-width: 2500px)
        width: 20%

      .catalog-banner
        height: 100%
        padding-bottom: 0

.banner-wrapper
  height: 100%
  overflow: hidden
  width: 100%

.catalog-banner
  background-position: 50% 50%
  background-size: cover
  background-repeat: no-repeat
  display: block
  height: 0
  overflow: hidden
  padding-bottom: 86.42857%
  text-indent: 101%
  transform: scale(1)
  transition: transform 0.3s
  white-space: nowrap
  width: 100%
  will-change: transform

  &:hover
    transform: scale(1.02)

  @media(min-width: 768px)
    height: 100%
    padding-bottom: 0

.card
  &:hover
    .card__image--second
      opacity: 1

    .card__fav,
    .card__add-cart
      @media(min-width: 1200px)
        opacity: 1

  &__top
    margin-bottom: 6px
    position: relative

    @media(min-width: 768px)
      margin-bottom: 7px

    @media(min-width: 2500px)
      margin-bottom: 9px

  &__image-block
    display: block
    position: relative
    z-index: 1

  &__image
    display: block

    &--second
      height: 100%
      left: 0
      opacity: 0
      position: absolute
      top: 0
      transition: opacity 0.3s
      width: 100%
      z-index: 1

  &__labels
    display: flex
    flex-wrap: wrap
    left: 5px
    margin-bottom: 0
    position: absolute
    top: 5px
    z-index: 2

    @media(min-width: 768px)
      left: 12px
      padding-right: 35px
      top: 12px

  &__label
    background-color: #fff
    font-size: 12px
    font-weight: 400
    line-height: 14px
    margin-right: 4px
    margin-bottom: 4px
    padding: 2px 4px

    @media(min-width: 768px)
      font-size: 18px
      line-height: 20px
      padding: 3px 5px

  &__fav
    background-color: transparent
    border: none
    cursor: pointer
    display: none
    left: auto
    position: absolute
    padding: 15px 14px
    right: 0
    top: 0
    z-index: 2

    @media(min-width: 1200px)
      display: block
      opacity: 0
      transition: opacity 0.3s

    &.is-active
      .card__fav-icon
        fill: $text-color

  &__fav-icon
    fill: none
    height: 17px
    stroke: $text-color
    width: 19px

    @media(min-width: 768px)
      height: 21px
      width: 23px

  &__add-cart
    background-color: rgba(#fff, 0.8)
    border: none
    border-radius: 2px
    bottom: 12px
    cursor: pointer
    display: none
    font-size: 14px
    font-weight: 500
    line-height: 22px
    left: 13px
    position: absolute
    padding: 8px
    top: auto
    text-transform: uppercase
    text-align: center
    text-decoration: none
    width: calc(100% - 26px)
    z-index: 2

    &:hover
      background-color: #fff
      box-shadow: 0 0 4px 0 rgba(#000, 0.05)

    @media(min-width: 1200px)
      display: block
      opacity: 0
      transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s

  &__colors
    display: flex
    flex-wrap: wrap
    margin-bottom: 2px

    img
      border-radius: 50%
      margin-right: 5px
      margin-bottom: 5px
      width: 8px

      @media(min-width: 768px)
        width: 10px

      @media(min-width: 2500px)
        width: 12px

  &__title
    font-size: 14px
    line-height: 16px
    margin-bottom: 5px

    @media(min-width: 768px)
      font-size: 18px
      line-height: 20px
      margin-bottom: 6px

    @media(min-width: 2500px)
      font-size: 20px
      line-height: 22px

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  &__price-block

  &__price
    font-weight: 14px
    font-weight: 600
    line-height: 18px

    &--old
      font-size: 12px
      font-weight: 400
      line-height: 14px
      margin-left: 10px
      text-decoration: line-through
