.header
  border-bottom: 1px solid #E4E7EB
  background-color: #fff
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 10

  &.scrolled
    .header__inner,
    .main-menu__link,
    .search-bar__input,
    .search-bar__submit
      @media(min-width: 1200px)
        height: 60px

      @media(min-width: 2500px)
        height: 60px

    .sub-menu,
    .search-bar__dropdown
      @media(min-width: 1200px)
        top: 60px

    .header__logo
      @media(min-width: 1200px)
        height: 36px
        width: 60px

  &__inner
    align-items: center
    display: flex
    height: 60px
    transition: height 0.1s

    @media(min-width: 1200px)
      height: 95px
      position: relative

    @media(min-width: 2500px)
      height: 106px

  &__logo
    display: block
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 33px
    z-index: 1

    @media(min-width: 1200px)
      align-items: flex-end
      display: flex
      height: 57px
      overflow: hidden
      position: static
      transition: height 0.1s, width 0.1s
      transform: none
      will-change: all
      width: 50px

    @media(min-width: 2500px)
      height: 63px
      width: 55px

  &__logo-image
    flex-shrink: 0
    min-width: 100%
    width: 100%

  &__lang-block
    align-items: center
    display: none
    font-size: 15px
    font-weight: 500
    line-height: 1.2

    @media(min-width: 1200px)
      display: flex
      margin-left: 35px

    @media(min-width: 2500px)
      margin-left: 55px

  &__lang
    color: $grey-color
    letter-spacing: 0.2px
    text-decoration: none
    text-transform: uppercase
    transition: color 0.3s

    &:hover,
    &.is-active
      color: $text-color

  &__lang-separator
    background-color: rgba($grey-color, 0.4)
    display: block
    height: 10px
    margin-left: 12px
    margin-right: 12px
    width: 1px

  &__menu-opener
    margin-right: auto

    @media(min-width: 1200px)
      display: none

  &__menu-closer
    left: auto
    position: fixed
    right: 0
    top: 0
    z-index: 1

    @media(min-width: 1200px)
      display: none

  &__menu-block
    display: none

    @media(min-width: 1200px)
      display: block
      margin-left: auto
      margin-right: auto

    &.is-open
      @media(max-width: 1199px)
        background-color: rgba(#282828, 0.2)
        display: block
        height: 100%
        left: 0
        overflow-y: scroll
        overflow-x: hidden
        position: fixed
        padding-right: 47px
        top: 0
        width: 100%
        z-index: 10

  &__mobile-duplicate
    align-items: center
    background-color: #F8F8F9
    display: flex
    justify-content: space-between
    height: 60px
    left: -100%
    padding-left: 20px
    padding-right: 20px
    position: relative
    transition: left 0.3s

    &.is-open
      @media(max-width: 1199px)
        left: 0

    @media(min-width: 1200px)
      display: none

    .header__links
      align-items: center
      display: flex
      margin-left: 0

    .header__lang-block
      display: flex

  &__menu
    @media(max-width: 1199px)
      left: -100%
      position: relative
      transition: left 0.3s

    &.is-open
      @media(max-width: 1199px)
        left: 0

  &__links
    align-items: center
    display: flex
    margin-left: auto

    @media(min-width: 1200px)
      margin-left: 0

  &__link
    align-items: center
    display: flex
    height: 35px
    justify-content: center
    width: 30px

    &--no_mobile
      @media(max-width: 767px)
        display: none

    &:not(:last-child)
      margin-right: 18px

      @media(min-width: 1200px)
        margin-right: 20px

  &__link-icon
    fill: $button-color

    &--user
      height: 18px
      width: 22px

    &--favorite
      height: 20px
      width: 22px

    &--cart
      height: 22px
      width: 18px

  &__search
    margin-right: 18px

    @media(min-width: 1200px)
      margin-right: 20px

.menu-opener
  align-items: center
  border: none
  background-color: transparent
  cursor: pointer
  display: flex
  height: 35px
  padding: 0
  width: 30px

  &__icon
    fill: $text-color
    height: 18px
    width: 27px

.menu-closer
  align-items: center
  border: none
  background-color: transparent
  cursor: pointer
  display: flex
  height: 60px
  justify-content: center
  padding: 0
  width: 47px

  &__icon
    fill: #fff
    height: 20px
    width: 20px

.cart-link
  position: relative

  &__qnt
    align-items: center
    background-color: $button-color
    border-radius: 50%
    bottom: 0
    color: #fff
    display: flex
    font-size: 12px
    font-weight: 500
    justify-content: center
    height: 17px
    left: auto
    line-height: 17px
    position: absolute
    right: 0
    top: auto
    width: 17px
    z-index: 1

.search-toggler
  align-items: center
  background-color: transparent
  border: none
  cursor: pointer
  display: flex
  height: 35px
  justify-content: center
  padding: 0
  position: relative
  width: 30px
  z-index: 2

  &.is-active
    .search-toggler__icon--open
      display: none

    .search-toggler__icon--close
      display: block

  &__icon
    fill: $button-color
    height: 20px
    width: 20px

    &--open
      display: block

    &--close
      display: none

.search-bar
  &__form
    background-color: #fff
    display: none
    left: 65px
    position: absolute
    padding-left: 20px
    top: 0
    width: calc(100% - 65px - 97px)
    z-index: 1

    @media(min-width: 768px)
      width: calc(100% - 65px - 190px)

    @media(min-width: 1200px)
      left: 100px
      padding-left: 50px
      width: calc(100% - 100px - 195px)

    @media(min-width: 1400px)
      left: 135px
      padding-left: 50px
      width: calc(100% - 100px - 260px)

    @media(min-width: 1900px)
      left: 185px
      padding-left: 50px
      width: calc(100% - 100px - 360px)

    &.is-open
      display: block

  &__input
    background-color: #fff
    border: none
    color: $text-color
    font-family: $main-font
    font-size: 16px
    font-weight: 400
    line-height: 20px
    height: 60px
    padding: 20px
    transition: height 0.1s
    width: 100%

    @media(min-width: 1200px)
      height: 95px

    @media(min-width: 2500px)
      height: 106px

    &:focus
      outline: none

  &__submit
    align-items: center
    background-color: #fff
    border: none
    cursor: pointer
    display: flex
    height: 60px
    justify-content: center
    left: 0
    position: absolute
    padding: 0
    top: 0
    transition: height 0.1s
    width: 20px
    z-index: 1

    @media(min-width: 1200px)
      height: 95px
      left: 30px

    @media(min-width: 2500px)
      height: 106px

  &__submit-icon
    fill: $grey-color
    height: 20px
    width: 20px

  &__dropdown
    background-color: #fff
    border-top: 1px solid #E4E7EB
    box-shadow: 0 10px 20px -5px rgba(#000, 0.15)
    display: none
    left: 0
    padding: 20px
    position: fixed
    top: 60px
    transition: top 0.1s
    width: 100%
    z-index: 1

    &.is-open
      display: block

    @media(min-width: 1200px)
      min-height: 215px
      padding-top: 35px
      padding-left: 130px
      top: 95px

    @media(min-width: 1400px)
      padding-left: 165px

    @media(min-width: 1900px)
      padding-left: 215px

    @media(min-width: 2500px)
      top: 106px

  &__dropdown-inner
    max-width: 2330px
    padding-left: 0
    padding-right: 0

    @media(min-width: 1400px)
      padding-left: 0
      padding-right: 0

    @media(min-width: 1900px)
      padding-left: 0
      padding-right: 0

  &__dropdown-title
    font-size: 15px
    font-weight: 500
    line-height: 18px
    margin-bottom: 15px

  &__vars
    display: flex
    flex-wrap: wrap
    max-width: 600px
    margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  &__var
    background-color: transparent
    border-radius: 2px
    border: 1px solid rgba($grey-color, 0.4)
    color: $grey-color
    cursor: pointer
    display: inline-block
    font-family: $main-font
    font-size: 15px
    font-weight: 400
    height: 30px
    line-height: 20px
    margin-right: 10px
    margin-bottom: 10px
    padding: 3px 15px
    text-align: center
    transition: color 0.3s, border-color 0.3s
    vertical-align: middle

    &:hover,
    &:focus
      border-color: $text-color
      color: $text-color

  &__searched
    border-radius: 2px
    background-color: rgba($grey-color, 0.08)
    display: inline-block
    font-family: $main-font
    font-size: 15px
    font-weight: 400
    margin-right: 10px
    margin-bottom: 10px
    padding-right: 30px
    position: relative
    transition: background-color 0.3s

    &:hover
      background-color: rgba($grey-color, 0.16)

  &__searched-text
    cursor: pointer
    display: inline-block
    min-height: 30px
    padding: 4px 15px 3px

  &__searched-delete
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    height: 30px
    justify-content: center
    left: auto
    position: absolute
    padding: 0
    right: 8px
    top: 0
    width: 30px
    z-index: 1

  &__searched-icon
    fill: $grey-color
    height: 7px
    width: 7px

  &__delete-vars
    background-color: transparent
    border: none
    color: $grey-color
    cursor: pointer
    font-size: 14px
    line-height: 18px
    padding: 0
    transition: color 0.3s
    text-decoration: underline
    vertical-align: top

    &:hover
      color: $text-color

  &__suggests
    li
      &:not(:last-child)
        margin-bottom: 15px

  &__suggest
    background-color: transparent
    border: none
    cursor: pointer
    color: $text-color
    font-family: $main-font
    font-size: 15px
    font-weight: 400
    line-height: 18px
    padding: 0
    transition: color 0.3s
    vertical-align: top

    &:hover,
    &:focus
      color: $grey-color
